{name, "nicedecimal"}.
{authors, ["Alisdair Sullivan <alisdairsullivan@yahoo.ca>"]}.
{description, "shortest string representation of erlang floats"}.
{homepage, "https://github.com/talentdeficit/nicedecimal"}.
{rebar_compatible, true}.
{url, {git, "https://github.com/talentdeficit/nicedecimal.git", {branch, "master"}}}. 
{applications, []}.
